body {
  color: #202131;
  background-color: #F3F2F0;
  font-family: 'Cabin', sans-serif;
  background-image: url("images/hoxton.jpg");
}

h1 {
  color: #521818;
  font-family: 'Nunito', sans-serif;
}

h2 {
  color: #A95151;
  font-family: 'Nunito', sans-serif;
}

#fan-page {
  color: #493C32;
  background-color: #E2C5C5;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

#fan-page:hover {
  background-color: #A95151;
}

.movie-name {
  color: #521818;
}

#profile {
  border-radius: 40%;
}

.card {
  text-align: center;
  background: white;
  padding: 20px;
  width: 800px;
  margin: 15px auto;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 4px #888888;
  border-radius: 15px;
}

.container {
  width: 800px;
  margin: 30px auto;
}

.list-inline {
  padding-left: 0px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 40px;
}
.bottom-list-inline > li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 20px;
}

.fa {
  color: #979BA1;
}

#sidebar {
  position: fixed;
  width: 105px;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 0px;
  list-style: none;
  text-align: center;
  background-color: #3C3F44;
}

#sidebar li {
    margin: 20px auto 10px 0px;
}

.fa-info-circle:hover, .fa-eye:hover, .fa-arrow-circle-down:hover {
    color: white;
}

#lewagon-link {
  text-decoration: none;
  color: #A2A5AB;
}

#lewagon-link:hover, .bottom-links:hover {
  color: #A95151;
}
